body 
    {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        user-select: none;
        background: #ecf0f3;
    }

    .container 
    {   margin-left:1.7em;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 13px 13px 20px #cbced1,
                  -13px -13px 20px #ffffff; 
    }

.display #screen
{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 4px #ffffff;
}
.btns
{
    width:100%;
    margin: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btns .row button
{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow:5px 5px 8px #00000020,
               -5px -5px 8px #ffffff;
               transition: 0.1s;

}
.btns .row button:hover
{
    box-shadow: inset 5px 5px 8px rgba(16,16,16,.10),
                inset -5px -5px 8px #ffffff;
                background: #fff;

}
#eval 
{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6;
}

#eval:hover 
{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6;
}

#ac 
{
    background: #33cc33;
    color: #fff;
}

#ac:hover 
{
    box-shadow: inset 5px 5px 8px #2eb82e,
                inset -5px -5px 8px #33cc33;
}

#ce 
{
    background: #ff3399;
    color: #fff;
}

#ce:hover 
{
      box-shadow: inset 5px 5px 8px #e60073,
                  inset -5px -5px 8px #ff3399;
}
#mode 
{
    width: 150px;
    background: #fa7d34;
    color: #fff;
}

#mode:hover 
{
      box-shadow: inset 5px 5px 8px #f55b01,
                  inset -5px -5px 8px #fa7d34;
}
@media screen and(min-width: 320px) and (max-width: 630px){
    .container{
        width:60%;
    }
    
}
    /*================= Heading Css =================*/
    h2

    {
        font-size: 40px;
        position: relative;  
        bottom: 1em; 
        margin-left: 1.2em;
        font-family: sans-serif;
        color: rgba(26, 218, 176, 0.685);
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #d1d9e6,                 
    }

    h2 span
    {
    color: #33cc33;
    font-size: 45px;
    text-shadow: 1px 1px 1px #d1d9e6;
   
    }
